.modal {
    display: block;
}

.fade {
    transition: opacity 0.15s linear;
}

.modal.fade .modal-dialog {
    animation: moveDiaLogOut .2s ease;
}

.modal.show .modal-dialog {
    animation: moveDiaLogShow .2s ease;
}

@keyframes moveDiaLogShow {
    0% {
        transform: translate(0, -25%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveDiaLogOut {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -25%);
    }
}